/*@font-face {
    font-family: 'fangzheng-hei';
    src: url('../fonts/fangzheng-xihei.ttf');
}*/
*{padding:0;margin: 0;}
body {
    background: #000;font-size: 10px;
}
li {list-style: none;}
#APIButtons {position: fixed;z-index: 10000;width: 320px;left: 15px;top: 15px;}
#APIButtons p {margin-bottom: 0px;}
#APIButtons>.button {float: left;text-align: center;color: #fff;position: relative;}
#APIButtons .btn {position: absolute;width: 40px;height: 35px;z-index: 10;opacity: 0;}
#APIButtons .btn1 {left: 10px;top:15px;}
#APIButtons .btn2 {left: -2px;top: 15px;}
#APIButtons>.button1 {margin-right: 30px;}
#APIButtons>.button>img {text-align: center;}

#APIButtons .detailAPI {display: none;width: 230px;height: 56px;position: fixed;left:200px;top: 15px;color: #fff;}
#APIButtons .detailAPI .button {position: relative;float: left;margin-right: 10px;}
#APIButtons .detailAPI input,#APIButtons .detailAPI a {width: 65px;margin-left: 30px;height: 30px;position: absolute;left: 0;top: 16px;opacity: 1;}
#APIButtons .detailAPI img {float: left;margin-top: 8px;}
#APIButtons .detailAPI .switch {margin-left: 8px;}





#position {display: none;height: 30px;position: fixed;width: 370px;left: 50%;margin-left: -185px;bottom: 15px;background: rgba(19,20,19,0.2);}
#position .pos {width: 120px;height: 26px;line-height: 26px;text-align: center;display: inline-block;margin: 2px 0;color: #fff;border-right: 2px solid #ccc;}
#position .z {border: none;}
#videoCanvas {
    position: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#directions {
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: 134px;
    width: 134px;
    background: url(../ULBrainImages/bg1.png) no-repeat;
    background-size: 134px 134px;
    z-index: 12;
}
#directions>img {position: absolute;z-index: 999;}
img#up {left: 50%;top: 6px;margin-left: -37.5px;}
img#left {left: 3px;top: 36px;}
img#right {right:3px;top:36px;}
img#down {bottom: 6px;left: 50%;margin-left: -37.5px;}
img#center {left: 50%;top: 50%;margin-left: -24px;margin-top: -25px;}

#speeds {
    position: absolute;
    bottom: 30px;
    right: 20px;
    height: 130px;
    width: 105px;
    background: transparent;
}

#speedstate {
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    margin-left: 64px;
}

#attention {
    display: none;
    position: absolute;
    width: 134px;
    height: 122px;
    top: -82px;
    left: 1px;
    background: url(../ULBrainImages/bg2.png) no-repeat;
    background-size: 134px 119px;
    z-index: 10;
}
#attention h4 {text-align: center;font-size: 14px;color: #fff;font-weight: normal;margin-top: 5px;margin-bottom: 10px;}
#attention div {width: 62px;float: left;font-size: 1rem;margin-left: 2px;}

#attention img {
    margin-left: 0px;
}
#attention span {
    font-family: 'fangzheng-hei';
    color: white;
    padding-left: 0px;
    white-space: nowrap;
}

#attentionRight{
    display: none;
    position: absolute;
    left: 134px;
    top: 36px;
    width: 90px;
    padding-top: 20px;
    height: 63px;
    background: rgba(0,0,0,0.2);
    background-size: auto 65px;
    color: #fff;
    font-weight: normal;
    font-size: 1rem;
    z-index: 300;
}
#attentionRight div{
    margin-left: 10px;
}

#battery {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 100px;
    width: 150px;
    background: transparent;
}

#battery-state {
    position: absolute;
    display: inline-block;
    padding: 0 !important;
    margin-left: 70px;
    color: white;
    font-size: 1.0em;
}

#battery-img {
	position: absolute;
    display: inline-block;
    margin-top: 3px;
    margin-left: 110px;
}
